<div class="container">
    <div class="card">
       <ul class="list-group">
  <li class="list-group-item active">{{title}} Joke</li>
  <li class="list-group-item">{{output}}</li>
  <li class="list-group-item">id:{{id}}</li>
  <li class="list-group-item">type:{{type}}</li>
  <li class="list-group-item">joke:{{joke}}</li>
  <li class="list-group-item">category:{{category}}</li>
</ul>
<br><br>
    </div>
</div>